{% extends "drinks/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/spectrum.css' %}">
<link rel="stylesheet" href="{% static 'css/drinks.css' %}">
<link rel="stylesheet" href="{% static 'css/suggestions.css' %}">
<link rel="stylesheet" href="{% static 'css/cropper.min.css' %}">
<script src="{% static 'js/spectrum.js' %}"></script>
<script src="{% static 'js/suggestions.js' %}"></script>
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="{% static 'js/jquery-cropper.min.js' %}"></script>

{% if drink_form.subject.errors %}
    <ol>
    {% for error in drink_form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}

<div class="container" style="margin-left: 0px; margin-right: 0px; max-width: unset">
    <form action="/drinks/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ drink_form.ingredients }}
        {{ drink_form.color }}
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-12 drink-header" style="background-image: linear-gradient(black, white)"></div>
        </div>
        <div class="row drink-detail">
            <div class="offset-2 col-8">
                <label for="{{drink_form.image.auto_id}}" class="image-upload">
                    <img src="/media/images/upload.svg" class="img-thumbnail img-fluid drink-thumbnail"/>
                </label>
                {{ drink_form.image }}
            </div>
            <div class="col-lg-12 col-sm-12 py-3 input-group input-group-lg">
                {{ drink_form.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                    <ul id="ingredient-list" class="list-group list-group-flush"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2 py-3 ">
                <input type="Submit" value="Finish" class="btn btn-primary btn-lg btn-block">
            </div>
        </div>
     </form>
</div>

<div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ingredientModalLabel">New Ingredient Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ingredient_type_form" action="/ingredient_types/" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 py-3 input-group input-group-lg">
                            {{ ingredient_type_form.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 offset-2 py-3 ">
                            <input type="Submit" value="Finish" class="btn btn-primary btn-lg btn-block">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ingredient_types = {{ingredient_types | safe}};
</script>
<script src="{% static 'js/new_drink.js' %}"></script>



{% endblock %}
