{% extends "drinks/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/drinks.css' %}"/>
<script src="{% static 'js/show_drink.js' %}"></script>

<div class="container" style="margin-left: 0px; margin-right: 0px; max-width: unset">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-12 drink-header" style="background-image: linear-gradient({{drink.color}}, white)"></div>
    </div>
    <div class="row drink-detail">
        <div class="offset-2 col-8">
            <img src="{{drink.image.url}}" class="img-thumbnail img-fluid drink-thumbnail"/>
        </div>
        <div class="col-lg-12 col-sm-12 py-3">
            <h3 class="text-center">{{drink.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                {% for key, value in drink.ingredients.items %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="text-left col-sm-6 col-9">{{key}}</div>
                            <div class="text-left col-sm-2 col-3">{{value}} OZ</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2 py-3 ">
            <button id="pour_button" type="button" class="btn btn-primary btn-lg btn-block">Start Pour</button>
        </div>
    </div>
</div>
<script>
    var ingredients = {{drink.ingredients | safe}};
    var available = {{available | safe}};

    var options = {};

    available.forEach( (ingredient, index) => {
        console.log(ingredient.fields.type);
        if(options[ingredient.fields.type]){
            console.log("Got a duplicate type here! Giving the user the option to select on pour");
            options[ingredient.fields.type].push(ingredient.fields.name);
        } else {
            options[ingredient.fields.type] = [ingredient.fields.name];
        }
    });

</script>
{% endblock %}