*-bak
*-cache.lib
*.py[cod]
*.stl
*.zip
.bartender.db
.cache
.idea
.npm
.secrets
LCD-show
__pycache__/
_autosave*
bartender-*/
build
db.sqlite3
fp-info-cache
frontend/.eslintcache
media/images/*
node_modules
systemd/*.service
venv
