{% extends "barkeep/base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/barkeep.css' %}">

<div>
    <div class="bottleShelf">
        <table>
            <row>
                {% for pump in pumps %}
                    <td>
                        <div class="bottleContainer">
                            {% if pump.contents %}
                                {{ pump.contents }}
                            {% else %}
                                "Empty!"
                            {% endif %}
                        </div>
                    </td>
                {% endfor %}
            </row>
        </table>
    </div>
</div>

{% endblock %}

