[Unit]
Description=Bartender Central Socket.io Server

[Service]
Type=notify
Environment=VIRTUAL_ENV=<BARTENDER_DIR>/venv
Environment=PATH=<BARTENDER_DIR>/venv/bin:$PATH
ExecStart=/usr/bin/python3 <BARTENDER_DIR>/backend/central_server/central_server.py
User=pi

[Install]
WantedBy=multi-user.target
