[Unit]
Description=Bartender Frontend Server
Requires=central.service
After=central.service

[Service]
Type=simple
WorkingDirectory=<BARTENDER_DIR>/frontend
ExecStart=/usr/bin/python3 -m http.server 3000
User=bartender

[Install]
WantedBy=multi-user.target
