[Unit]
Description=Bartender System Server
Requires=central.service
After=central.service

[Service]
Type=simple
Environment=VIRTUAL_ENV=<BARTENDER_DIR>/venv
Environment=PATH=<BARTENDER_DIR>/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=<BARTENDER_DIR>/venv/bin/python3 <BARTENDER_DIR>/backend/system_server/system_server.py
User=bartender

[Install]
WantedBy=multi-user.target
