[Unit]
Description=Bartender WiFi Socket.io Server
Requires=central.service
After=central.service

[Service]
Type=simple
Environment=VIRTUAL_ENV=<BARTENDER_DIR>/venv
Environment=PATH=<BARTENDER_DIR>/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=<BARTENDER_DIR>/venv/bin/python3 <BARTENDER_DIR>/backend/wifi_server/wifi_server.py

[Install]
WantedBy=multi-user.target
