Source: bartender
Maintainer: Desone Burns II <dburnsii@live.com>
Description: The open-source drink making machine.
Build-Depends: debhelper
Package: bartender
Section: electronics
Priority: standard
Component: main
Architecture: <ARCH>
Version: <VERSION>
Depends: firefox-esr, python3, python3-apt
