Source: bartender
Maintainer: Desone Burns II <dburnsii@live.com>
Description: The open-source drink making machine.
Build-Depends: debhelper
Package: bartender
Architecture: armhf
Version: 0.1.1
Depends: firefox-esr
