.drink-header {
    height: 150px;
}

.drink-detail {
    margin-top: -125px;
}

.drink-thumbnail {
    width: 100%;
}

.image-upload {
    width: 100%;
}

.sp-replacer {
    position: absolute;
    top: 70px;
    z-index: 2;
}

.suggestions {

}