.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url('./fonts/Lobster-Regular.ttf') format('truetype');
}

.lockScreenKeyboard {
  height: 280px;
  width: 100%;
  position: fixed;
  z-index: 1200;
  left: 0px;
  bottom: 0px;
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
}

.lockScreenKeyboard .hg-rows {
  height: 60px;
}

.lockScreenKeyboard .hg-rows .hg-row {
  height: 60px;
  margin-bottom: 5px;
  display: flex;
}

.lockScreenKeyboard .hg-rows .hg-row .hg-button {
  height: 60px !important;
  width: 20px;
  border-radius: 30px;
  margin: 5px;
  background: #fff;
  align-items: center;
  border-bottom: 1px solid #b5b5b5;
  box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 1;
  font-size: 30px;
}

.lockScreenInput {

}

.lockScreenInput input {
    text-align: center;
    font-size: 24px;
}

.wifiAuthKeyboard {
  height: 340px;
  width: 100%;
  position: fixed;
  z-index: 1200;
  left: 0px;
  bottom: 0px;
  background-color: #ececec;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  touch-action: manipulation;
  user-select: none;
}

/*.wifiAuthKeyboard .hg-rows {
  height: 60px;
}*/

.wifiAuthKeyboard .hg-rows .hg-row {
  height: 60px;
  margin-bottom: 5px;
  display: flex;
}

.wifiAuthKeyboard .hg-rows .hg-row .hg-button {
  height: 60px !important;
  min-width: 50px;
  border-radius: 10px;
  margin: 5px;
  background: #fff;
  align-items: center;
  border-bottom: 1px solid #b5b5b5;
  box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  flex-grow: 1;
  font-size: 24px;
}

.wifiAuthInput {

}

.wifiAuthInput input {
    text-align: center;
    font-size: 24px;
}
